  body{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

  .card:hover img{
    opacity: 0.7;
}

  .card-image img{
    border-radius: 0.3rem 0.3rem 0 0;
  }

  .card-body{
    border-radius: 0 0 0.375rem 0.375rem;

  }


  .logo-chitka{
    position: absolute;
    left: 40%;
    top: auto;
}

  .body-chitka{
    margin-top: 60px;
  }

  .bg-dark{
    opacity: 0.9;
  }






  
  .reading_list{
    min-height: 500px;
    height: auto;
    background: white;
    padding: 10px;
    border-radius: 10px;

    display: block;
    position: relative;
    justify-content: space-between;
  }

  
  .container_chitka{
    display: inline-flex;
  }

  .img_chitka{
    margin-left: 3px;
    width: auto;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
  }

  .chitka_description{
    padding: 20px 15px;
    text-align: left;
  }


  .reading_resident{
    display: inline-flex;
}

  .reading_role{
    width: 400px;
    height: 400px;
    padding: 0 40px;
}

  .reading_resident_{
    padding: 0 40px;
    
}

  .btn_reading_list a{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    padding: 0 5px;
    background: #f2d8d856;
  }

  .btn_reading_list a:hover{
    background: #ad9393;
    color: #fff;
  }



  .create_reader{
    margin: 20px 20%;
    width: auto;
    max-width: 400px;
    min-width: 200px;
    
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .name_reader{
    margin: 5px;
  }
  
  .name_reader p{
    margin-bottom: 0px;
  }

  .name_reader input{
    width: 150px;
    height: 25px;
  }

  .gender_reader{
    display: block;
    justify-content: space-between;
    margin: 5px;
  }

  .gender_reader p{
    margin-bottom: 0px;
  }

  .button_reader button{
    vertical-align: middle;
    margin: 5px;
    height: 25px;
    width: 90px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    border-radius: 5px;
  }

  .button_reader button:hover{
    border: 2px solid rgb(250, 200, 100);
    color: rgb(250, 200, 100);
    background: rgba(0, 0, 0, 0.555);
  }

  .btn-add-read{
    border: 1px solid rgb(210, 220, 230);
    color: white;

  }


  .about-cont{
    min-height: 400px;
    padding-top: 60px;

  }

  .content-img{
    width: 400px;
  }

  
  .nav-item:last-child{
    padding-left: 26vw;
    display: flex;
  }

  @media (max-width: 800px) {
    .nav-item:last-child{
      padding-left: 35vw;
      display: flex;
    }
  }

  .text-end a{
    color: rgba(255, 255, 255, 0);
  }
  
  .text-end{
    display: flex;
  }

  .nav-item:last-child a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    margin: 3px;
    opacity: 1;
  }

  .nav-item:last-child a:hover{
    background: gray;
    opacity: 0.9;
  }


 .form-control{
  margin: 5px 0;
 }

 .form-signin{
  padding: 50px 10px;
  width: 400px;
  margin: auto;
 }


 @media (max-width: 600px){
  .form-signin{
    width: 300px;
  }
}

 .form-floating_{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
 }

 .form-floating_ a{
  margin: auto;
  padding: 5px 50px;
}
