{% extends 'main/base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for el in posts %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-image">
                <a href="chitka{{el.id}}">
                    <img src="{{ el.image.url }}" alt="" width="100%">
                </a>
            </div>

            <div class="card-body bg-light">
              <p class="card-text">{{ el.text }}</p>
            </div>
          </div>
        </div>
        {% endfor %} 
        
      </div>
    </div>
  </div>
{% endblock %}
